<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Claymorphism Layout</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' href='../index.css'>
  <script src='main.js'></script>
</head>
<body>
  <div class="container">
    <form>
      <h3>Signup Form</h3>
      <div class="inputBox">
        <span>Username</span>
        <div class="box">
          <div class="icon">
            <ion-icon name="person"></ion-icon>
          </div>
          <input type="text">
        </div>
      </div>
      <div class="inputBox">
        <span>Email</span>
        <div class="box">
          <div class="icon">
            <ion-icon name="person"></ion-icon>
          </div>
          <input type="email">
        </div>
      </div>
      <div class="inputBox">
        <span>Password</span>
        <div class="box">
          <div class="icon">
            <ion-icon name="lock-closed"></ion-icon>
          </div>
          <input type="password">
        </div>
      </div>
      <div class="inputBox">
        <span>Repeat Password</span>
        <div class="box">
          <div class="icon">
            <ion-icon name="lock-closed"></ion-icon>
          </div>
          <input type="password">
        </div>
      </div>
      <div class="inputBox">
        <div class="box">
          <input type="submit" value="Sign up">
        </div>
      </div>
    </form>
  </div>
</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>